.book-details {
  //   border: 1px solid #ccc;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  //   margin-top: 20px;
  margin-bottom: 20px;

  //   padding: 20px 0px;
}

.book-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.book-details p {
  margin: 5px 0;
}

.book-details-img-div {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-details-img-div img {
  max-height: 360px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.details-description {
  margin-top: 10px;
}

.btn-div-update-dlt {
  display: flex;
  justify-content: center;
  gap: 20px;
  // position: absolute;
}
.confirmation-box {
  display: none;
}
.active {
  position: fixed; /* Fixed positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Correct the position by half of the box's width and height */
  z-index: 1000; /* Make sure it's on top of other elements */
  /* Add other styles like background color, padding, border, etc. */

  // bottom: 30px;
  display: grid;
  background-color: tomato;
}
