.book-details {
  //   border: 1px solid #ccc;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  //   margin-top: 20px;
  margin-bottom: 20px;

  //   padding: 20px 0px;
}

.book-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.book-details p {
  margin: 5px 0;
}

.book-details-img-div {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-details-img-div img {
  max-height: 360px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.details-description {
  margin-top: 10px;
}

.btn-div-update-dlt {
  display: flex;
  justify-content: center;
  gap: 20px;
  // position: absolute;
}
.confirmation-box {
  display: none;
}
.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: grid;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  transition: 1s ease-in-out square-in-center;
}

.alert-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}
