.cart-container {
  max-width: 1200px;
  display: grid;
  color: black;
  margin: 30px auto;
  place-items: center;
}
.cart-items {
  display: flex;
}
.cart-items img {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}
