@import "../../../../scss/colors.scss";
.cart-container {
  max-width: 1200px;
  display: grid;
  color: black;
  margin: 30px auto;
  place-items: start;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 20px;
  align-items: center;
}

.cart-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 10px;
  background-color: white;
  border-bottom: 6px solid $colorPrimary;
}
.book-details-div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  // max-width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.book-details-div img {
  width: 14%;
  height: 100%;
  object-fit: cover;
}
.quantity {
  display: flex;
  gap: 10px;
  align-items: center;
}

.counter-btn {
  padding: 5px 10px;
}
.price-div {
  display: grid;
  place-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  padding: 10px;
  border-bottom: 6px solid $colorPrimary;
}
