@import "./../../scss/colors.scss";
.sign-in-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.sign-in-btn:hover {
  background-color: $colorPrimary;
  color: white;
  border: 1px solid $colorPrimary;
}
.add-to-cart-btn {
  margin-top: 4px;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.add-to-cart-btn:hover {
  background-color: rgb(36, 77, 214);
  color: white;
  border: 1px solid rgb(36, 77, 214);
}

.remove-cart {
  margin-top: 4px;
  padding: 8px 15px;
  background-color: red;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.remove-cart:hover {
  background-color: rgb(219, 46, 46);
  color: white;
  border: 1px solid rgb(219, 46, 46);
}
