@import "./../../../../../scss/colors.scss";
.category-header {
  text-align: center;
}
.category-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 30px auto;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-bottom: 330px;
}
// }
.category-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.image-grid {
  perspective: 1000px;
}

.image-grid-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.image-grid:hover .image-grid-inner {
  transform: rotateY(180deg);
}

.image-grid-front,
.image-grid-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.image-grid-front {
  background-color: #bbb;
  color: black;
}

.image-grid-back {
  background-color: #2980b9;
  color: $colorPrimary;
  transform: rotateY(180deg);
  text-align: center;
}
