@import "./../../scss/colors.scss";
@import "./../../scss/fontSize.scss";
.nav {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-container {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  color: $navbarFontColor;
  font-size: $navbarFontSize;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  font-weight: 500px;
  align-items: center;
}
.cart-icon {
  width: 6%;
  height: 77%;
  object-fit: cover;
}
.right-div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  color: $colorPrimary;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav-container {
    margin: 0px 20px;
  }
}
