@import "./../../../../scss/colors.scss";
.search-div {
  margin-top: 15px;
  display: grid;
  place-items: center;
}
.search-input {
  width: 25%;
  padding: 10px;
  border: 3px solid $colorPrimary;
  border-radius: 5px;
  outline: none;
}
.search-input:focus {
  color: $colorPrimary;
}
.search-input {
  ::placeholder {
    color: $colorPrimary;
    font-size: 14px;
  }
}

.sort-select {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  outline: none;
  border: 2px solid $colorPrimary;
}
.select-div {
  display: flex;
  gap: 10px;
}
